<section id="{{ block_id }}" class="np_twitter">
    <h3>{{ title|default('Latest Tweets') }}</h3>
    <ul data-feed="twitter" data-feed-user="{{twitter_user}}" data-feed-count="{{count}}">
        <li class="loading">Loading&hellip;</li>
    </ul>
</section>