{# extends '@core/layout.twig' #}

{% block body %}
<div id="np_panel" class="row">
    <div class="span10">
        <header class="row np_panel_head">
            <div class="span9">
                <h1 class="np_panel_nav">
                    {% block nav %}{% endblock %}
                </h1>
            </div>
            <div class="span1"><a href="#" data-close="panel" class="btn btn-default"><i class="icon-remove-sign"></i></a></div>
        </header>

        {% if app.session.hasFlash('info') %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">×</button>
                {{ app.session.flash('info') }}
            </div>
        {% endif %}

        {% if app.session.hasFlash('error') %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">×</button>
                {{ app.session.flash('error') }}
            </div>
        {% endif %}

        {% if app.session.hasFlash('success') %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                {{ app.session.flash('success') }}
            </div>
        {% endif %}

        <div class="row">
            {% block row %}
                <div class="span10">{% block content %}{% endblock %}</div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}