<div id="block_{{ block_id }}" class="nivoSlider np-slideshow" data-showcase="slideshow">
    {% for slide_id, caption in slides %}
        <img src="{{ img_path ~ slide_id }}.jpg" title="{{ caption }}">
    {% endfor %}
</div>