name: NodePub Core

toolbar_items:
  Sites:
    route: admin_sites
    icon: asterisk
  Pages:
    route: admin_sitemap
    icon: sitemap
  Users:
    route: admin_users
    icon: user
  Cache:
    route: admin_cache
    icon: bolt
  Extensions:
    route: admin_extensions
    icon: puzzle-piece

block_types:
  - HTML
  - Image
  - Markdown
  - Slideshow
  - YouTube

twig_extensions:
  NodePub\Core\Extensions\CoreExtension\TwigExtension:
    dependencies:
      - np.block_provider
      - np.slug_helper

assets:
  - /js/np/toolbar.js
  - /js/np/panel.js